{% extends 'bands/base.html' %}
{% block content %}


  
  <!--Password Reset Confirm-->
  

    <div class="passwordReset">
        <div class="container">
          <h1 class="resetTitle">Password Reset Confirm</h1>
          <p class="resetTxt">Please enter your new password.</p>
          <hr>
          <form class="resetForm" method="POST">
            {% csrf_token %}
            <div class="recoveryForm">{{ form.as_p }}</div>
            <input class="loginBtn" type="submit" value="Reset Password">
          </form>
        </div>
      </div>

{% endblock %}