{% extends 'bands/base.html' %}
{% block content %}
<body>
    <div class="about">
      <h1 class="aboutTitle">About</h1>
      <p class="aboutTxt">
        Lorem ipsum dolor sit, 
        amet consectetur adipisicing elit.
         Libero ducimus excepturi numquam nisi.
          Illo enim nam sunt, <br>
          laboriosam repellat quidem fugiat<br>
           perspiciatis id ipsam debitis <br>
           quisquam incidunt sed, molestias maxime?<br>
           Lorem ipsum dolor sit amet consectetur<br>
            adipisicing elit. Doloribus consequatur<br>
            soluta iste ab, ratione excepturi vitae<br>
            facere nemo quis. Qui nobis animi nulla<br>
            assumenda nesciunt repellendus eveniet<br>
            labore expedita aut.<br>
        Lorem ipsum dolor sit, <br>
        amet consectetur adipisicing elit.<br>
         Libero ducimus excepturi numquam nisi.<br>
          Illo enim nam sunt, <br>
          laboriosam repellat quidem fugiat<br>
           perspiciatis id ipsam debitis <br>
           quisquam incidunt sed, molestias maxime?<br>
           Lorem ipsum dolor sit amet consectetur<br>
            adipisicing elit. Doloribus consequatur<br>
            soluta iste ab, ratione excepturi vitae<br>
            facere nemo quis. Qui nobis animi nulla<br>
            assumenda nesciunt repellendus eveniet<br>
            labore expedita aut.<br>
        Lorem ipsum dolor sit, <br>
        amet consectetur adipisicing elit.<br>
         Libero ducimus excepturi numquam nisi.<br>
          Illo enim nam sunt, <br>
          laboriosam repellat quidem fugiat<br>
           perspiciatis id ipsam debitis <br>
           quisquam incidunt sed, molestias maxime?<br>
           Lorem ipsum dolor sit amet consectetur<br>
            adipisicing elit. Doloribus consequatur<br>
            soluta iste ab, ratione excepturi vitae<br>
            facere nemo quis. Qui nobis animi nulla<br>
            assumenda nesciunt repellendus eveniet<br>
            labore expedita aut.<br>
      </p>
    </div>

      
    
</body>
{% endblock %}