{% extends 'bands/base.html' %}
{% block content %}
<body>
  <button class="loginRegisterBtn"><a class="loginRegisterTxt"href="{% url 'delete_account' %}">delete</a></button>

    <div class="profile">
        <p class="profileTxt">Username: {{user.username}}</p>
        <table>
          <caption class="addedTable">Bands added by you</caption>
          {% for band in bandsAdded %}
          {% if band.approved %}
          <tr>
            <td class="bandName"><a class="bandNameLink" href="/metalpedia/{{band.id}}/">{{band.name}}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
    
    </div>

</body>
{% endblock %}