@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.title{
    font-family: 'Metal Mania', cursive;
    color: rgb(121, 117, 117);
    text-align: center;
    font-size: 120px;
    width: 500px;
    margin-left: 650px;
    display: inline;
    font-weight: 400;
}
body{
  background-image:url('body-background.jpg') ;
  background-size:auto;
  background-attachment: fixed;
}
header{
  background-color: black;
}

.loginRegisterBtn{
  background-color:rgb(238, 228, 228) ;
  padding: 10px;
  margin-right: 20px;
  margin-top: 45px;
  display: inline;
  float: right;
}

.loginRegisterTxt{
  font-size: 25px;
  font-family: 'Ubuntu';
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
  }
  
  li {
    float:left;
  }

  .navBarLinks{
    margin-left: 800px;
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: #111;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover{
  text-decoration: underline;
}

.bandDiv{
      width: 900px;
      height: fit-content;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      padding-bottom: 20px;
      padding-top: 20px;
      color: rgb(255, 255, 255);
      font-family: 'Ubuntu', sans-serif;
}
.viewBand{
  box-shadow: 8px 8px 5px #000000;
  background-color: rgba(51, 51, 51, 0.437);
  width:950px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

.registerDiv{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  box-shadow: 8px 8px 5px #000000;
  background-color: rgba(51, 51, 51, 0.437);
  border-radius: 5px;
  height: 585px;
  margin-top: 20px;
}

input[type=text],input[type=password]{
  width: 937px;
  padding: 15px;
  margin:5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
b{
  color: rgb(238, 228, 228);
  font-weight: 500;
  font-size: 25px;
}

hr{
  border: 1px solid rgb(238, 228, 228);
  margin-bottom: 25px;
}

.cancelBtn,.signUpBtn{
  background-color: rgb(238, 228, 228);
  color: black;
  font-family: 'Ubuntu';
  padding: 14px 20px;
  font-size: 30px;
  cursor: pointer;
  width: 100%;
  float: left;
  width: 150px;
}

.loginTitle{
  font-family: 'Metal Mania';
  font-weight: 500;
  text-align: center;
  color: rgb(238, 228, 228);
  margin-top: 20px;
}

.cancelBtn{
  margin-right: 50px;
}

.cancelBtn:hover,.signUpBtn:hover{
  opacity: 1;
}

.container{
  padding: 16px;
}

.registerTitle{
  font-family: 'Metal Mania';
  font-weight: 500;
}

.registerTxt,.registerTitle{
  color:rgb(238, 228, 228) ;
  text-align: center;
}

.registerTxt,.resetTxt{
  font-size: 25px;
}

.resetTxt{
  text-align: center;
}

.recoveryBtn{
  color: black;
  text-decoration: none;
}

.passwordReset{
  width: 1000px;
  border-radius: 5px;
  background-color:rgba(51, 51, 51, 0.437);
  color:rgb(238, 228, 228);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 8px 8px 5px #000000;
}

.recoveryForm{
  color:rgb(238, 228, 228);
  font-family: 'Ubuntu';
  font-size: 25px;
  width: 1000px;
}



.resetTitle{
  font-family: 'Metal Mania';
  font-weight: 500;
  text-align: center;
}


.loginDiv{
  width: 1000px;
  box-shadow: 8px 8px 5px #000000;
  background-color: rgba(51, 51, 51, 0.437);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 20px;
}

.addedTable{
  font-family: 'Ubuntu';
  font-size: 25px;
  color: rgb(238, 228, 228);
}

.loginBtn{
  padding: 15px;
  background-color: rgb(238, 228, 228);
  font: 'Ubuntu';
  font-size: 30px;
}

.bandInformation{
  padding-bottom: 15px;
  color:rgb(238, 228, 228) ;
  font-size: 25px;
}

.bandsListTable{
  margin-left: auto;
  margin-right: auto;
  color: rgb(238, 228, 228);
  font-size: 35px;
  font-family: 'Ubuntu';
  margin-top: 25px;
  border-collapse: collapse;
  width: 1250px;
}

.bandsList{
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(51, 51, 51, 0.437);
  box-shadow: 8px 8px 5px #000000;
  border-radius: 5px;
}

.bandNameLink{
  color: white;
  text-decoration: none;
}

.bandsRows{
  margin-left: 10px;
}

.bandCountry,.bandName,.bandGenre{
  border-top: 1px solid rgb(109, 108, 108);
  font-size: 20px;
}

.bandNameLink:hover{
  text-decoration: underline;
}

.addBtn{
  padding: 15px;
  margin-left: 800px;
  margin-top: 20px;
  background-color: rgb(238, 228, 228);
}

.addBtn:hover{
  background-color:rgb(255, 245, 245);
  cursor: pointer;
}

.addBtnTxt{
  font-size: 30px;
  font-family: 'Ubuntu';
  color: black;
  text-decoration: none;
}

.addDiv{
  width: 1000px;
  background-color:rgba(51, 51, 51, 0.437) ;
  box-shadow: 8px 8px 5px #000000;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.addForm{
  color:rgb(238, 228, 228) ;
  font-family: 'ubuntu';
  font-size: 25px;
  margin-left: 20px;
}

.addTitle{
  font-family: 'Metal Mania', cursive;
  color: rgb(238, 228, 228);
  font-weight: 500;
  text-align: center;
}

span{
  background-color: white;
  color: black;
}

.addSubmit{
  background-color:rgb(238, 228, 228) ;
  margin-bottom: 20px;
  font-family: 'Ubuntu';
  font-size: 30px;
  color: black;
  height: 50px;
  width: 120px;
}

.addSubmit:hover{
  background-color:rgb(255, 245, 245);
  cursor: pointer;
}


.newsTable{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 35px;
  border-collapse: collapse;
  width: 1000px;
}
.newsDiv{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(51, 51, 51, 0.437);
  box-shadow: 8px 8px 5px #000000;
  width: 1000px;
  border-radius: 5px;
}

.newsBody{
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profile{
  background-color:rgba(51, 51, 51, 0.437);
  border-radius: 5px;
  box-shadow:8px 8px 5px #000000 ;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  margin-top: 20px;
}

.none{
  display: none;
}

td,th,caption{
  padding: 20px;
  text-align: center;
}


.newsDate{
  text-align: right;
  width: 500px;
  color: rgb(238, 228, 228);
}

.newsTitle{
  color: rgb(238, 228, 228);
  font-family: 'Ubuntu';
  text-decoration: none;
}

.newsTitle:hover{
  text-decoration: underline;
}

caption{
  font-family: 'Metal Mania', cursive;
  color: rgb(238, 228, 228);
}

.viewNews{
  color: rgb(238, 228, 228);
  font-size: 16px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(51, 51, 51, 0.437);
  box-shadow: 8px 8px 5px #000000;
  border-radius: 5px;
  margin-top: 20px;
  height: fit-content;
}

.specificNewsTitle{
  font-size: 50px;
  text-align: center;
}

.about{
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.437);
  box-shadow: 8px 8px 5px #000000;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 20px;
}

.aboutTitle{
  text-align: center;
  color: rgb(238, 228, 228);
  font-family: 'Metal Mania';
  font-weight: 500;
}

.aboutTxt{
  font-size: 16px;
  font-family: 'Ubuntu';
  color: white;
  margin-left: 20px;
  text-indent: 50px;
}

.username{
  color:rgb(238, 228, 228);
  font-size: 25px;
  font-family: 'Ubuntu';
}

.profileTxt{
  font-size: 25px;
  color: rgb(238, 228, 228);
  padding: 20px;
}

.footerTxt{
  color:rgb(238, 228, 228);
  font-family: 'Ubuntu';
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
}